@model Site.Models.ChangePassword

<script>
    var i = 0;
    function Start() {
      
        $("#loder").show();

    }
    function Success() {
        var res = $("#result").text();
        if (res == "1") {
            $("#result").text("Password update sucessfull.");
            ShowCurrentTime();
        }

    }
    function Complete() {

      
    }
</script>
<script type="text/javascript">
    var i = 0;
    function ShowCurrentTime() {
        $("#result").hide();
        $("#redirect").show();
        var dt = new Date();
        $("#redirect").css("color", "green");
        document.getElementById("lblTime").innerHTML = +10 - i + " Seconds";
        i++;
        if (i == 10) {
            window.location.href = '@Url.Action("Login", "Account")';
        }
        window.setTimeout("ShowCurrentTime()", 1000); // Here 1000(milliseconds) means 1 sec
    }
</script>

@using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions { UpdateTargetId = "result", OnBegin = "Start();", OnSuccess = "Success()",OnComplete="Complete()" }))
{
    <div>
        <table>
            @if (Session["UserID"] != null)
            {
                <tr style="height:40px">
                    <td>Old Password:</td>
                    <td>
                        @Html.PasswordFor(Model => Model.OldPassword)<br />
                        <span style="color:red">@Html.ValidationMessageFor(Model => Model.OldPassword)</span>

                    </td>
                </tr>
               
            }
            <tr style="height:40px">
                <td>New Password:</td>
                <td>
                    @Html.PasswordFor(Model => Model.NewPassword)<br />
                    <span style="color:red">@Html.ValidationMessageFor(Model => Model.NewPassword)</span>

                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr style="height:40px">
                <td>Confirm Password:</td>
                <td>
                    @Html.PasswordFor(Model => Model.ConfirmPasswords)<br />
                    <span style="color:red"> @Html.ValidationMessageFor(Model => Model.ConfirmPasswords)</span>
                </td>

            </tr>
            <tr style="height:20px">
                <td>
                    <span id="result"></span>

                </td>

            </tr>
            <tr>
                <td></td>
                <td>
                    <span id="redirect" style="display:none">
                        We are redirect you on login page in
                        <p id="lblTime" style=" font-weight:bold; font-size:12pt"></p>
                    </span>
                </td>
            </tr>
            <tr style="height:20px">
                <td></td>
                <td>
                    <input type="submit" value="Update" />
                    <span id="loder" style="display:none"><img src="~/Images/l2.gif" alt="" title=""></span>
                </td>
            </tr>
        </table>

    </div>
}

