@model Site.Models.ChangePassword

@using (@Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div>
        <table>
            <tr style="height:40px">
                <td>Old Password:</td>
                <td>
                    @Html.PasswordFor(Model => Model.OldPassword)
                    @Html.ValidationMessageFor(Model => Model.OldPassword)
                </td>
            </tr>
            <tr style="height:40px">
                <td>New Password:</td>
                <td>
                    @Html.PasswordFor(Model => Model.NewPassword)
                    @Html.ValidationMessageFor(Model => Model.NewPassword)
                </td>
            </tr>
            <tr style="height:40px">
                <td>Confirm Password:</td>
                <td>
                    @Html.PasswordFor(Model => Model.ConfirmPassword)
                    @Html.ValidationMessageFor(Model => Model.ConfirmPassword)
                </td>

            </tr>
            <tr style="height:20px">
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
</table>

</div>
}

