@model Site.Models.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<h2>Change Password</h2>
@using (@Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div>
        <table>
            <tr>
                <td>New Password:</td>
                <td>@Html.PasswordFor(Model => Model.NewPassword)
                    @Html.ValidationMessageFor(Model => Model.NewPassword)
                </td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td>@Html.PasswordFor(Model => Model.ConfirmPassword)
                    @Html.ValidationMessageFor(Model => Model.ConfirmPassword)
                </td>

            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>

    </div>
}