@model Site.Models.ForgotPassword

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_HomeMaster.cshtml";
}
<script>
    function checkform() {
        var email = $('#EmailID').val();
        var mobile = $('#Mobile').val();
        var otp = $('#OTPText').val();
        if (email == "" && mobile == "" && otp == "") {
            $("#spnError").show();
            $("#spnError").text("Please enter either mobile no. or emailId.")
            return false;
        }
        else {
            $("#spnError").hide();
        }
    }
    function ChkEM(em) {

        if (em == "0") {
            if ($('#EmailID').val() != "") {
                $('#Mobile').hide();
                $("#liner").hide();
                $("#spnError").hide();
                $("#result").hide();

            }
            else {
                $('#Mobile').show();
                $("#spnError").hide();
                $("#result").hide();
                $("#liner").show();

            }
        }
        else {
            if ($('#Mobile').val() != "") {
                $('#EmailID').hide();
                $("#spnError").hide();
                $("#result").hide();
                $("#liner").hide();

            }
            else {
                $('#EmailID').show();
                $("#spnError").hide();
                $("#result").hide();
                $("#liner").show();

            }
        }

    }
    function Begin() {
        $("#loder").show();
    }
    function Sucess(response) {
       
        $("#loder").hide();
        $("#result").show();
        var res = $("#result").text();
        if (res == "1")
        {
            $("#result").text("Reset link has been sent to your email id.");
            $("#result").css("color", "green");
        }
        if (res == "0")
        {
            $("#result").text("Mail can not be sent please try aftersome time.")
            $("#result").css("color", "red");
        }
        if (res == "3")
        {
            $("#emailmobileData").hide();
            $("#otpTxt").show();
            $("#result").text("OTP is send sucessfully.");
            $("#result").css("color", "green");
            $("#btnSubmit").val("Verify");
            $('#Mobile').val("");
            $('#EmailID').val();
        }
        if (res == "5") {
            $("#result").text("Verification sucessfull.");
            $("#result").css("color", "green");
  
        }
        if (res == "6") {
            $("#result").text("OTP does not match.");
            $("#result").css("color", "red");
            $("#result").remove();
            window.location.href = '@Url.Action("ResetPassword", "Account")';
        }

    }
    function failure() {
        alert("Something going wrong.Please try after some time.");
        $("#loder").hide();
    }
</script>
<div style="margin-top: 100px; margin-left: 400px;  width:400px; padding-top:20px;padding-left:100px; height:210px; border: 2px solid blue; border-radius: 25px;">
    @using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions { UpdateTargetId = "result", OnBegin = "Begin", OnSuccess = "Sucess", OnFailure = "failure()" }))
    {



        <div class="tab-content noborder enter-username">
            <div class="tab-pane active" id="forgotPasswordEmail">
                <table>
                    <tr id="emailmobileData">
                        <td>
                            <table>
                                <tr>
                                    <td><label>EMAIL ID / MOBILE NUMBER</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.EmailID, new { onblur = "ChkEM(0)", @placeholder = "email" })
                                        <span style="color:red;">
                                            @Html.ValidationMessageFor(m => m.EmailID)
                                        </span>
                                    </td>
                                </tr>
                                <tr id="liner">
                                    <td>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; OR
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.Mobile, new { onblur = "ChkEM(1)", @placeholder = "mobile" })
                                        <span style="color:red;">
                                            @Html.ValidationMessageFor(m => m.Mobile)
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr id="otpTxt" style="display:none">
                        <td>
                            <table>
                                <tr>
                                    <td>OTP is send to your registered mobile no.Please verify.</td>
                                </tr>
                                <tr>
                                    <td><label>Enter OTP</label></td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.OTPText)
                                        <span style="color:red;">
                                            @Html.ValidationMessageFor(m => m.OTPText)
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr style="height:20px">
                        <td>
                            <span style="color:red" id="spnError"></span>
                            <div id="result"></div>
                        </td>

                    </tr>
                    <tr>
                        <td width="100">
                            <input type="submit" id="btnSubmit" value="Get Password" onclick="javascript: return checkform()" />
                            <span id="loder" style="display:none"><img src="~/Images/l2.gif" alt="" title=""></span>
                        </td>

                    </tr>
                    <tr style="height:20px">
                        <td></td>
                    </tr>

                </table>
            </div>
            <div id="forgotPasswordMobile" style="display:none">
                <table>

                    <tr style="height:20px">
                        <td>
                            <span style="color:red" id="spnError"></span>
                            <div style="color:green" id="result"></div>
                        </td>

                    </tr>
                    <tr>
                        <td width="100">
                            <input type="submit" value="Get Password" onclick="javascript: return checkform()" />
                            <span id="loder" style="display:none"><img src="~/Images/l2.gif" alt="" title=""></span>
                        </td>

                    </tr>
                    <tr style="height:20px">
                        <td></td>
                    </tr>

                </table>
            </div>
        </div>
    }
</div>